/* .container {
  height: 58vh;
  width: 90%;
  padding: 350px;
  padding-top: 500px;
  
} */

/* Nav {
  background: #a5e7bb;
  display: grid;
  grid-template-columns: 2fr;
  
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  
} */
/* .App {
  display: grid;
  grid-template-rows: 2fr;
} */

main.body {
  width: 90%;
  margin: auto;
}
tbody {
  align-items: center;
  padding-right: 800px;
  margin-right: 600px;
  border-left: blue;
}
